@import '../bootstrap/bootstrap';
@import '../fontawesome/scss/fontawesome';
@import '../fontawesome/scss/fa-brands';
@import '../fontawesome/scss/fa-solid';
@import '../fontawesome/scss/fa-regular';

$nav-color-primary : "#fff";
$base-font-url : '../fonts/'; 
$blue-c : #cde2f4;
/* Custom */


/* latin */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Regular'), local('Asap-Regular'), url('#{$base-font-url}asap/Asap-Regular.ttf');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Regular'), local('DroidSans-Regular'), url('../fonts/droidsans/droidsans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../fonts/droidsans/droidsans-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body{
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400;
  width:100%;
}

.nav{
  font-size:90%;
  font-family: 'Asap';
}

.vertical-align {
    display: flex;
    align-items: center;
}
.vertical-align-bottom {
    display: flex;
    align-items: flex-end;
}
.vertical-align-center {
    display: flex;
    align-items: center;
}

.sec-header{
  background-color:#f69a0e; 
  height: 140px;
  h1{
    color:#fff;
    font-weight:bolder;
  }
}

footer{
  /* background-color: $blue-c; */
  background:url(https://health-center.vamtam.com/wp-content/uploads/2014/03/bg_footer.jpg);
  .first-foot{
    font-size:85%;
    .row:first-child{
      color:#f2561d ;
      font-size:120% !important;
    }
    .f-st{
       color:$blue-c;
    }
    .f-nd{
      div{
        div:first-child{
          color:#fff;
        }
        div:nth-child(2){
          font-size:75%;
          color:$blue-c;
        }
      }
    }
    .f-rd{
      color:$blue-c;
    }
    .f-th{
      ul{
        list-style: none;
        li{
          padding-top:10px;
          padding-bottom:10px;
        }
        a{
          color:#fff;
        }
      }  
    }
  }
  .second-foot{
    font-size:80%;
    margin:auto;
    color:#fff;
  }
}

@import 'berita';