.c-berita{
	.main-date{
		font-size:250%;
		color:$blue-c;
	}
	.sub-date{
		font-size:70%;
		font-weight:bolder;
	}
	.row-news{
		border-bottom: 1px solid $blue-c;
	}
	.preview-news{
		a{
			font-size:120%;
		}
		p{
			font-size:90%
		}
	}

	.foot-news{
		background:#f5f5f6;		
	}

	.news-list{
		background:#fff;
		margin-top:20px;
		margin-bottom:20px;
		border-radius:10px;
		.title{
			font-size:120%;
			padding-top:10px;
			padding-bottom:10px;
		}
		.tgl{
			border:1px solid #dadade;
			border-radius:5px;
		}
		.content{
			padding-top:5px;
			padding-bottom:5px;
			font-size:90%;
		}
		.foot{
			font-size:90%;
		}
	}
}